@font-face {
    font-family: 'PT Sans';
    src: url('../../resources/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    padding-top: 1em; /* Adjust based on navbar height */
    font-family: "PT Sans", sans-serif;
}
.main-content {
    margin-left: 270px; /* Adjust based on sidebar width */
    padding: 20px;
}
/* Target the search input */
.form-control {
    border-radius: 5px; /* Rounded corners */
    border-color: #ccc; /* Border color */
    font-size: 16px; /* Font size */
}

/* Optional: Focus styles */
.form-control:focus {
    border-color: #80bdff; 
    outline: 0; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}
.btn.btn-primary{
    background-color: black;
    border: black;
}
.btn.btn-primary:hover {
    color:gray;
}
.card-img-top {
    margin-top: 1em;
    margin-left: 1em;
    width: 10em; 
    border-radius: 5px;  
}
h2 {
  margin-left: 0.5em;
}
#ongoingCoursesList{
 font-size: 1.5em;
 font-weight: bold;
}
#completedCoursesList{
 font-size: 1.5em;
 font-weight: bold;
}
