@font-face {
    font-family: 'Mukta';
    src: url('../../resources/fonts/Mukta-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url();
    background-position: center;
    background-size: cover;
    font-family: "Mukta", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../resources/Images/hero-bg.jpg");
    background-position: center;
    backdrop-filter: blur(17px);
    overflow-y: auto; /* Added to enable scrolling if content exceeds height */
    scrollbar-width: none; /* Added to hide scrollbar in Firefox */
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 1.5em;
    margin-right: 8em;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin-left: 15px;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    height: calc(100% - 140px); /* Adjusted for fixed positioning */
    overflow-y: auto;
    scrollbar-width: none;
    margin-right: 2.5em;
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 8px; /* Added spacing between list items */
}

.links li:hover {
    background: #fff; /* Removed hover effect */
}

.links h4 {
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
    display: block; /* Always visible */
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: block; /* Always visible */
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.links .logout-link {
    margin-top: 20px;
}
/* Add this to your sidebar.css */
.sidebar .links li.admin-management-link,
.sidebar .links li.Employee-management-link {
    display: none; /* Hide admin and employee management links by default */
}
#icon {
    width: 1.5em;
    margin-left: 1em;
}
#logo {
    margin-bottom: 0.5em;
}